<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printableFactory" class="io.spring.framework.PrintableFactory" />
    <bean id="printableFactoryObject" class="io.spring.framework.PrintableFactory" factory-method="getPrintable" factory-bean="printableFactory" />


</beans>