<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="answer1" class="io.spring.framework.Answer">
        <constructor-arg value="1" />
        <constructor-arg value="Java is a Programming Language" />
        <constructor-arg value="12/12/2001" />
    </bean>

    <bean id="answer2" class="io.spring.framework.Answer">
        <constructor-arg value="2" />
        <constructor-arg value="Java is a Platform" />
        <constructor-arg value="12/12/2003" />
    </bean>

    <bean id="user1" class="io.spring.framework.User">
        <constructor-arg value="1" />
        <constructor-arg value="Hakim Bahramov" />
        <constructor-arg value="abduhakim.bahramov@gmail.com" />
    </bean>

    <bean id="user2" class="io.spring.framework.User">
        <constructor-arg value="2" />
        <constructor-arg value="Xurshida Bahramova" />
        <constructor-arg value="khurshida.bakhramova@gmail.com" />
    </bean>

    <bean id="question" class="io.spring.framework.Question">
        <constructor-arg value="1" />
        <constructor-arg value="What is Java?" />
        <constructor-arg>
            <map>
                <entry key-ref="answer1" value-ref="user1" />
                <entry key-ref="answer2" value-ref="user2" />
            </map>
        </constructor-arg>
    </bean>

</beans>